body{
    background: #b1a7a6;
    font-family: "nunito", sans-serif;
}
#mainNavbar .navbar-brand
{
color: #312F37;
font-size: 1.5rem;
font-weight: 700;
}
#mainNavbar .nav-link
{
    font-size: 1.5rem; 
    
}
#mainNavbar .nav-link:hover
{
    font-size: 1.5rem; 
    color: #312F37;
}
@media(max-width:1200px)
{
    
}